<?xml version="1.0"?>
<launch>
    <!-- yaml file path -->
    <arg name="local_path_planner_settings" default="$(find chibi23_a)/config/param/local_path_planner.yaml"/>

    <!-- node launch -->
    <node pkg="chibi23_a" type="local_path_planner" name="local_path_planner" output="screen">
        <rosparam command="load" file="$(arg local_path_planner_settings)"/>
    </node>
    <node pkg="rosbag" type="play" name="play" args="$(env HOME)/bag/local_path_planner_debug.bag --clock"/>
</launch>
