<?xml version="1.0"?>

<launch>
    <rosparam param="/use_sim_time">true</rosparam>
    <!-- yaml file path-->
    <arg name="map_file" default="$(find chibi23_a)/map/map.yaml"/>
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" output="screen"/>

    <!-- node launch-->
    <node pkg="chibi23_a" type="localizer" name="localizer" output="screen"/>
    <node pkg="rosbag" name="bag" type="play" args="--clock $(env HOME)/bag/test8_bag.bag"/>-
</launch>
